pipeline/Copy_LeanIX_Project_Type_JSON_to_Blob_then_SQLDB.json
{
	"name": "Copy_LeanIX_Project_Type_JSON_to_Blob_then_SQLDB",
	"properties": {
		"description": "This pulls all the project details (per project ID) into its own json in Blob. Then the final Copy Data Activity only extracts the $.Data.Fields[] value (flattening the json) into SQLDB table LeanIX_Project_Details.",
		"activities": [
			{
				"name": "GetAllProjectID",
				"description": "Get all the ProjectIDs in the LeanIX_Project table and pass it through to the next activity to retrieve project details for each of the project IDs.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT id FROM LeanIX_Project"
					},
					"dataset": {
						"referenceName": "Output_LeanIX_Project_SQLDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetLeanIXBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://hawaii.leanix.net/services/mtm/v1/oauth2/token",
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Basic ',base64('apitoken:4Arc6CbO95yxTF5LdVaxfXRUt2gzrO3WQ5v9Cafu'))",
							"type": "Expression"
						},
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials"
				}
			},
			{
				"name": "GetProjectDetails_JSON_into_Blob",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetLeanIXBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetAllProjectID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllProjectID').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Dynamically build the RelativeURL Step 1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ProjectID",
								"value": {
									"value": "@{item().id}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Dynamically build the RelativeURL Step 3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Dynamically build the RelativeURL Step 1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FullyFormedRelativeURL",
								"value": {
									"value": "@variables('ProjectID')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_Application_Relations_JSON_to_SQLDB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Dynamically build the RelativeURL Step 3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat(string(activity('GetLeanIXBearerToken').output.token_type),' ',string(activity('GetLeanIXBearerToken').output.access_token))",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"quoteAllText": true
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Output_LeanIX_Relations",
									"type": "DatasetReference",
									"parameters": {
										"FullyFormedRelativeURL": {
											"value": "@variables('FullyFormedRelativeURL')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Output_LeanIX_Project_Type_JSON_Blob",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy_Project_Fields_array_From_Blob_to_SQLDB_then_SQLDB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetProjectDetails_JSON_into_Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['data']['id']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "fields_type_name",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['data']['fields']"
					}
				},
				"inputs": [
					{
						"referenceName": "Output_LeanIX_Project_Type_JSON_Blob",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Output_LeanIX_Project_Details_SQLDB",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"ProjectID": {
				"type": "String"
			},
			"FullyFormedRelativeURL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "LeanIX Pipelines (State of Hawaii PoC)/Production Pipelines"
		},
		"annotations": []
	}
}