pipeline/Copy_All_LeanIX_JSON.json
{
	"name": "Copy_All_LeanIX_JSON",
	"properties": {
		"activities": [
			{
				"name": "Copy_LeanIX_Application_JSON",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLeanIXBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat(string(activity('GetLeanIXBearerToken').output.token_type),' ',string(activity('GetLeanIXBearerToken').output.access_token))",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['status']"
								},
								"sink": {
									"path": "$['status']"
								}
							},
							{
								"source": {
									"path": "$['errors'][0]"
								},
								"sink": {
									"path": "$['errors'][0]"
								}
							},
							{
								"source": {
									"path": "$['total']"
								},
								"sink": {
									"path": "$['total']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['id']"
								},
								"sink": {
									"path": "$['data'][0]['id']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['name']"
								},
								"sink": {
									"path": "$['data'][0]['name']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['description']"
								},
								"sink": {
									"path": "$['data'][0]['description']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['displayName']"
								},
								"sink": {
									"path": "$['data'][0]['displayName']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fullName']"
								},
								"sink": {
									"path": "$['data'][0]['fullName']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['type']"
								},
								"sink": {
									"path": "$['data'][0]['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['id']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['id']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['id']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['id']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['name']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['name']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['shortName']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['shortName']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['description']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['description']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['mode']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['mode']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['restrictToFactSheetTypes'][0]"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['restrictToFactSheetTypes'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['name']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['name']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['description']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['description']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['bgColor']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['bgColor']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['status']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['status']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['name']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['name']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['data']['type']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['data']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['data']['phases'][0]['startDate']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['data']['phases'][0]['startDate']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['data']['phases'][0]['phase']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['data']['phases'][0]['phase']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['dataType']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['dataType']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['relations'][0]"
								},
								"sink": {
									"path": "$['data'][0]['relations'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['subCompletions']['subsection.technicalSuitability.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['subCompletions']['subsection.technicalSuitability.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['subCompletions']['subsection.technicalSuitability.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['subCompletions']['subsection.technicalSuitability.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['subCompletions']['subsection.technicalSuitability.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.sourcing']['subCompletions']['subsection.technicalSuitability.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['subCompletions']['subsection.factSheetsAffecting.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['subCompletions']['subsection.factSheetsAffecting.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['subCompletions']['subsection.factSheetsAffecting.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['subCompletions']['subsection.factSheetsAffecting.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['subCompletions']['subsection.factSheetsAffecting.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projects']['subCompletions']['subsection.factSheetsAffecting.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.userGroups.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.userGroups.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.userGroups.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.userGroups.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.userGroups.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.userGroups.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.businessCriticalityFunctionalSuitability.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.businessCriticalityFunctionalSuitability.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.businessCriticalityFunctionalSuitability.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.businessCriticalityFunctionalSuitability.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.businessCriticalityFunctionalSuitability.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.businessCriticalityFunctionalSuitability.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.factSheetsSupported.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.factSheetsSupported.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.factSheetsSupported.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.factSheetsSupported.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.factSheetsSupported.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.businessSupport']['subCompletions']['subsection.factSheetsSupported.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['createdAt']"
								},
								"sink": {
									"path": "$['data'][0]['createdAt']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['updatedAt']"
								},
								"sink": {
									"path": "$['data'][0]['updatedAt']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['documents'][0]"
								},
								"sink": {
									"path": "$['data'][0]['documents'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['status']"
								},
								"sink": {
									"path": "$['data'][0]['status']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['level']"
								},
								"sink": {
									"path": "$['data'][0]['level']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['score']"
								},
								"sink": {
									"path": "$['data'][0]['score']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['rev']"
								},
								"sink": {
									"path": "$['data'][0]['rev']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['naFields'][0]"
								},
								"sink": {
									"path": "$['data'][0]['naFields'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['subscriptions'][0]"
								},
								"sink": {
									"path": "$['data'][0]['subscriptions'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['permittedReadACL'][0]"
								},
								"sink": {
									"path": "$['data'][0]['permittedReadACL'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['permittedWriteACL'][0]"
								},
								"sink": {
									"path": "$['data'][0]['permittedWriteACL'][0]"
								}
							},
							{
								"source": {
									"path": "$['cursor']"
								},
								"sink": {
									"path": "$['cursor']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "Input_Lean_IX_Application",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Output_LeanIX_Application_JSON_to_Blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetLeanIXBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://hawaii.leanix.net/services/mtm/v1/oauth2/token",
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Basic ',base64('apitoken:4Arc6CbO95yxTF5LdVaxfXRUt2gzrO3WQ5v9Cafu'))",
							"type": "Expression"
						},
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials"
				}
			},
			{
				"name": "Copy_LeanIX_Project_JSON",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLeanIXBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat(string(activity('GetLeanIXBearerToken').output.token_type),' ',string(activity('GetLeanIXBearerToken').output.access_token))",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['status']"
								},
								"sink": {
									"path": "$['status']"
								}
							},
							{
								"source": {
									"path": "$['errors'][0]"
								},
								"sink": {
									"path": "$['errors'][0]"
								}
							},
							{
								"source": {
									"path": "$['total']"
								},
								"sink": {
									"path": "$['total']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['id']"
								},
								"sink": {
									"path": "$['data'][0]['id']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['name']"
								},
								"sink": {
									"path": "$['data'][0]['name']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['description']"
								},
								"sink": {
									"path": "$['data'][0]['description']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['displayName']"
								},
								"sink": {
									"path": "$['data'][0]['displayName']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fullName']"
								},
								"sink": {
									"path": "$['data'][0]['fullName']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['type']"
								},
								"sink": {
									"path": "$['data'][0]['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['id']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['id']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['id']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['id']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['name']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['name']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['shortName']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['shortName']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['description']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['description']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['mode']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['mode']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['restrictToFactSheetTypes'][0]"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['tagGroup']['restrictToFactSheetTypes'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['name']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['name']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['description']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['description']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['bgColor']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['bgColor']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]['status']"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]['status']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['name']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['name']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['data']['type']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['data']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['data']['phases'][0]['startDate']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['data']['phases'][0]['startDate']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['data']['phases'][0]['phase']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['data']['phases'][0]['phase']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['dataType']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['dataType']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['relations'][0]"
								},
								"sink": {
									"path": "$['data'][0]['relations'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.lifecycle.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.successors.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.successors.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.successors.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.successors.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.successors.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.successors.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.predecessors.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.predecessors.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.predecessors.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.predecessors.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.predecessors.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.predecessors.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectProviders.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectProviders.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectProviders.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectProviders.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectProviders.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectProviders.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectBenefit.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectBenefit.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectBenefit.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectBenefit.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectBenefit.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.projectBenefit.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.budgetCosts.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.budgetCosts.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.budgetCosts.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.budgetCosts.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.budgetCosts.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectSetup']['subCompletions']['subsection.budgetCosts.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requiredBy.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.requires.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label__']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label__']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label__']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label__']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label__']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label__']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.projectValueRisk.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.projectValueRisk.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.projectValueRisk.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.projectValueRisk.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.projectValueRisk.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.projectValueRisk.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label___']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label___']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label___']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label___']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label___']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label___']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label____']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label____']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label____']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label____']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label____']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label____']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label_']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label_']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label_']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label_']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label_']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.projectEnvironment']['subCompletions']['subsection.factSheetsAffected.label_']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['createdAt']"
								},
								"sink": {
									"path": "$['data'][0]['createdAt']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['updatedAt']"
								},
								"sink": {
									"path": "$['data'][0]['updatedAt']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['documents'][0]"
								},
								"sink": {
									"path": "$['data'][0]['documents'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['status']"
								},
								"sink": {
									"path": "$['data'][0]['status']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['level']"
								},
								"sink": {
									"path": "$['data'][0]['level']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['score']"
								},
								"sink": {
									"path": "$['data'][0]['score']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['rev']"
								},
								"sink": {
									"path": "$['data'][0]['rev']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['naFields'][0]"
								},
								"sink": {
									"path": "$['data'][0]['naFields'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['subscriptions'][0]"
								},
								"sink": {
									"path": "$['data'][0]['subscriptions'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['permittedReadACL'][0]"
								},
								"sink": {
									"path": "$['data'][0]['permittedReadACL'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['permittedWriteACL'][0]"
								},
								"sink": {
									"path": "$['data'][0]['permittedWriteACL'][0]"
								}
							},
							{
								"source": {
									"path": "$['cursor']"
								},
								"sink": {
									"path": "$['cursor']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "Input_LEANIX_Project_API",
						"type": "DatasetReference",
						"parameters": {
							"-Headers": "$headers"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Output_LeanIX_Project_JSON_to_BLOB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_LeanIX_UserGroup_JSON",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLeanIXBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat(string(activity('GetLeanIXBearerToken').output.token_type),' ',string(activity('GetLeanIXBearerToken').output.access_token))",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['status']"
								},
								"sink": {
									"path": "$['status']"
								}
							},
							{
								"source": {
									"path": "$['errors'][0]"
								},
								"sink": {
									"path": "$['errors'][0]"
								}
							},
							{
								"source": {
									"path": "$['total']"
								},
								"sink": {
									"path": "$['total']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['id']"
								},
								"sink": {
									"path": "$['data'][0]['id']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['name']"
								},
								"sink": {
									"path": "$['data'][0]['name']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['displayName']"
								},
								"sink": {
									"path": "$['data'][0]['displayName']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fullName']"
								},
								"sink": {
									"path": "$['data'][0]['fullName']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['type']"
								},
								"sink": {
									"path": "$['data'][0]['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tags'][0]"
								},
								"sink": {
									"path": "$['data'][0]['tags'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['name']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['name']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['data']['value']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['data']['value']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['data']['type']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['data']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['fields'][0]['dataType']"
								},
								"sink": {
									"path": "$['data'][0]['fields'][0]['dataType']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['relations'][0]"
								},
								"sink": {
									"path": "$['data'][0]['relations'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.children.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.dependencies']['subCompletions']['subsection.parents.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.information']['subCompletions']['subsection.nameDescription.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label__']['type']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label__']['type']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label__']['completion']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label__']['completion']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label__']['percentage']"
								},
								"sink": {
									"path": "$['data'][0]['completion']['subCompletions']['section.demandManagement']['subCompletions']['subsection.factSheetsUsed.label__']['percentage']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['createdAt']"
								},
								"sink": {
									"path": "$['data'][0]['createdAt']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['updatedAt']"
								},
								"sink": {
									"path": "$['data'][0]['updatedAt']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['documents'][0]"
								},
								"sink": {
									"path": "$['data'][0]['documents'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['status']"
								},
								"sink": {
									"path": "$['data'][0]['status']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['level']"
								},
								"sink": {
									"path": "$['data'][0]['level']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['score']"
								},
								"sink": {
									"path": "$['data'][0]['score']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['rev']"
								},
								"sink": {
									"path": "$['data'][0]['rev']"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['naFields'][0]"
								},
								"sink": {
									"path": "$['data'][0]['naFields'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['subscriptions'][0]"
								},
								"sink": {
									"path": "$['data'][0]['subscriptions'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['permittedReadACL'][0]"
								},
								"sink": {
									"path": "$['data'][0]['permittedReadACL'][0]"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['permittedWriteACL'][0]"
								},
								"sink": {
									"path": "$['data'][0]['permittedWriteACL'][0]"
								}
							},
							{
								"source": {
									"path": "$['cursor']"
								},
								"sink": {
									"path": "$['cursor']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "Input_LeanIX_UserGroup",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Output_LeanIX_UserGroups_JSON",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "LeanIX Pipelines/Production Pipelines"
		},
		"annotations": []
	}
}