pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "GetAllApplicationID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT id FROM LeanIX_Application"
					},
					"dataset": {
						"referenceName": "Output_LeanIX_Application_SQLDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetLeanIXBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://hawaii.leanix.net/services/mtm/v1/oauth2/token",
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Basic ',base64('apitoken:4Arc6CbO95yxTF5LdVaxfXRUt2gzrO3WQ5v9Cafu'))",
							"type": "Expression"
						},
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetLeanIXBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetAllApplicationID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllApplicationID').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyApplicationRelations",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"outputs": [
								{
									"referenceName": "Output_LeanIX_Application_Relations_SQLDB",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CopyApplicationRelations",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DebugURL",
								"value": ""
							}
						}
					]
				}
			}
		],
		"variables": {
			"DebugURL": {
				"type": "String"
			}
		},
		"annotations": []
	}
}