pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy_LeanIX_Application_JSON",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLeanIXBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat(string(activity('GetLeanIXBearerToken').output.token_type),' ',string(activity('GetLeanIXBearerToken').output.access_token))",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Input_Lean_IX_Application",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Output_LeanIX_Application_JSON_to_Blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetLeanIXBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://hawaii.leanix.net/services/mtm/v1/oauth2/token",
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Basic ',base64('apitoken:4Arc6CbO95yxTF5LdVaxfXRUt2gzrO3WQ5v9Cafu'))",
							"type": "Expression"
						},
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials"
				}
			},
			{
				"name": "SetTotal",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupNumberOfRecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "total",
					"value": {
						"value": "div(int(@activity('GetTotalandCursorData').output.total),100)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LookupNumberOfRecords",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetTotalandCursorData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from LeanIX_Total"
					},
					"dataset": {
						"referenceName": "LeanIX_Total_SQLDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetTotalandCursorData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLeanIXBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat(string(activity('GetLeanIXBearerToken').output.token_type),' ',string(activity('GetLeanIXBearerToken').output.access_token))",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['total']"
								},
								"sink": {
									"name": "Total",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['cursor']"
								},
								"sink": {
									"name": "Cursur",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "Input_Lean_IX_Application",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "LeanIX_Total_SQLDB",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SetCursor",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupNumberOfRecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Cursor",
					"value": {
						"value": "@activity('GetTotalandCursorData').output.cursor",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Cursor": {
				"type": "String"
			},
			"total": {
				"type": "String",
				"defaultValue": "100"
			}
		},
		"folder": {
			"name": "LeanIX Pipelines/Unit Testing Pipelines"
		},
		"annotations": []
	}
}