pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetAllApplicationID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT id FROM LeanIX_Application"
					},
					"dataset": {
						"referenceName": "Output_LeanIX_Application_SQLDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetAllApplicationID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllApplicationID').output.value.id",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetLeanIXBearerToken",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://hawaii.leanix.net/services/mtm/v1/oauth2/token",
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "@concat('Basic ',base64('apitoken:4Arc6CbO95yxTF5LdVaxfXRUt2gzrO3WQ5v9Cafu'))",
										"type": "Expression"
									},
									"Content-Type": "application/x-www-form-urlencoded"
								},
								"body": "grant_type=client_credentials"
							}
						},
						{
							"name": "CopyApplicationRelations",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetLeanIXBearerToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat(string(activity('GetLeanIXBearerToken').output.token_type),' ',string(activity('GetLeanIXBearerToken').output.access_token))",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Input_LeanIX_Application_Relations_JSON",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Output_LeanIX_Application_Relations_SQLDB",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetAllApplicationID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "id",
					"value": [
						"@activity('GetAllApplicationID').output.value[0].id"
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "PopulateID",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "id",
								"value": [
									""
								]
							}
						}
					]
				}
			},
			{
				"name": "SetCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetAllApplicationID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Count",
					"value": {
						"value": "@activity('GetAllApplicationID').output.Count",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"id": {
				"type": "Array"
			},
			"Count": {
				"type": "String"
			}
		},
		"annotations": []
	}
}