factorydata/pipeline/Copy_LeanIX_UserGroup_Relations_From_API_to_SQLDB.json
{
	"name": "Copy_LeanIX_UserGroup_Relations_From_API_to_SQLDB",
	"properties": {
		"activities": [
			{
				"name": "GetAllUserGroupID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT id FROM LeanIX_UserGroup"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetUserGroupRelations_JSON_into_SQLDB",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetAllUserGroupID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllUserGroupID').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Dynamically build the RelativeURL Step 1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetLeanIXBearerToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "UserGroupID",
								"value": {
									"value": "@{item().id}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Dynamically build the RelativeURL Step 3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Dynamically build the RelativeURL Step 1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FullyFormedRelativeURL",
								"value": {
									"value": "@concat(variables('UserGroupID'),'/relations')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_UserGroup_Relations_JSON_to_Blob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Dynamically build the RelativeURL Step 3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat(string(activity('GetLeanIXBearerToken').output.token_type),' ',string(activity('GetLeanIXBearerToken').output.access_token))",
											"type": "Expression"
										}
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							}
						},
						{
							"name": "GetLeanIXBearerToken",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://hawaii.leanix.net/services/mtm/v1/oauth2/token",
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "@concat('Basic ',base64('apitoken:4Arc6CbO95yxTF5LdVaxfXRUt2gzrO3WQ5v9Cafu'))",
										"type": "Expression"
									},
									"Content-Type": "application/x-www-form-urlencoded"
								},
								"body": "grant_type=client_credentials"
							}
						}
					]
				}
			}
		],
		"variables": {
			"ApplicationID": {
				"type": "String"
			},
			"FullyFormedRelativeURL": {
				"type": "String"
			},
			"ProjectID": {
				"type": "String"
			},
			"UserGroupID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "LeanIX Pipelines (State of Hawaii PoC)/Production Pipelines"
		},
		"annotations": []
	}
}